* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: url("https://images.alphacoders.com/435/435793.jpg");
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 3rem auto;
}

/* Main container */
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75vw;
  background: #230258;
  opacity: 0.8;
  padding: 4%;
  border-radius: 1rem;
}

/* All Input */
.input {
  width: 43.5%;
  font-size: 1.5vw;
  padding: 0.4%;
  margin: 0 0 2% 0;
  border: 2px solid transparent;
  border-radius: 0.2rem;
}

/* All Classes  */
.class {
  width: 49%;
  text-align: left;
  display: block;
  font-size: 1.7vw;
  margin: 1% 0 1.5% 0;
}

/* All span elements */
span {
  margin: .5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span input[type='radio'], span input[type='checkbox'] {
  margin-right: 0.3rem;
}

.dropDownDiv {
  width: 49%;
  text-align: left;
  /*   display: block; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7vw;
  margin: 1% 0 1.5% 0;
}

.dropDownDiv label {
  width: 100%;
  margin: 2%;
}

.dropDownDiv select {
  width: 88%;
  font-size: 1.5vw;
  padding: 0.4%;
  margin: 0 0 2% 0;
  border: 2px solid transparent;
  border-radius: 0.2rem;
}

/* All labels */
label {
  width: 100%;
  font-size: 1.5vw;
}

#radio span, #box span {
  margin-left: 1rem;
}

/* Title  */
#title {
  font-size: 3vw;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4%;
}

/* Description */
#description {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 2%;
}

/* Form  */
#survey-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

/* Field & Qualification */
#field .class, #qualification .class {
  width: 100%;
}

#field, #qualification {
  width: 53%;
  padding: 1vw;
  margin-bottom: 2%;
}

#radio, #box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0.7vw 0;
}

/* Text Area */
#textArea {
  width: 43.5%;
  font-size: 1.5vw;
  padding: 1%;
  background-color: white;
  border: none;
  border-radius: 1%;
}

/* Submit Button */
#submit {
  width: 20%;
  background-color: #035a56;
  margin: 2% 2% 0 2%;
  font-size: 1.7vw;
  padding: 1%;
  border: 2px none;
  border-radius: 0.2rem;
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=style.css.map */